*{box-sizing:border-box}
body{
margin:0;
font-family:Arial,sans-serif;
background:url('https://images.unsplash.com/photo-1511512578047-dfb367046420') center/cover fixed;
color:#fff;
}
#tekst{
    position:fixed;
    top:10px;
    left:10px;
    font-size:15px;
    color: #2a2a2a;
}

.btn {
    background-color: #1f1f1f;
    color: #ffb347;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-color: #ffb347;
}

.btn:hover {
    background-color: #2a2a2a;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    border-color: #ffb347;
}

.btn:active {
    transform: scale(0.96);
}

.overlay{
background:rgba(0,0,0,.75);
min-height:100vh;
padding:40px 20px;
}
.container{max-width:1000px;margin:auto}
h2{text-align:center;color:#ffb347}
h3 {
    text-align: left;color:#ffb347;
}
.opis{text-align:center;font-size:22px;color:#bfe9ff;margin-bottom:30px}
.card{
background:#1f1f1f;
border-radius:18px;
padding:20px;
margin:18px 0;
box-shadow:0 8px 20px rgba(0,0,0,.4);
transition:.25s;
}
.card:hover{transform:translateY(-4px);background:#2a2a2a}
.card h2{margin:0 0 10px;color:#ffb347}
.card p{line-height:1.7;margin:0;}
hr {
    border: none;
    height: 3px;
    background: linear-gradient(to right, transparent, #ffb347, transparent);
}
.center {
    text-align: center;
}
.rightekran {
    position: absolute;
    top: 10px;
    right: 10px;
}